In [7]:
cd Hockey_Stats

/Users/joepizz/Desktop/Hockey_Stats

In [8]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Ridge

In [9]:
# load the data.
df = pd.read_csv('Hockey_scores_copy.csv', skiprows=1, names=['date', 'visitor', 'visitor_goals', 'home', 'home_goals',"extra_time"])
df.tail()

,date,visitor,visitor_goals,home,home_goals,extra_time
116,2022-01-20,Winnipeg Jets,2,Nashville Predators,5,NaN
117,2022-01-20,Columbus Blue Jackets,2,Philadelphia Flyers,1,NaN
118,2022-01-20,Ottawa Senators,4,Pittsburgh Penguins,6,NaN
119,2022-01-20,San Jose Sharks,2,Seattle Kraken,3,NaN
120,2022-01-20,Montreal Canadiens,3,Vegas Golden Knights,4,OT

In [24]:
df.drop(["extra_time"], axis=1)
df.head()

,date,visitor,visitor_goals,home,home_goals,extra_time,goal_difference,home_win,home_loss
0,2022-01-01,Buffalo Sabres,3,Boston Bruins,4,OT,1,1,0
1,2022-01-01,Carolina Hurricanes,7,Columbus Blue Jackets,4,no,-3,0,1
2,2022-01-01,Montreal Canadiens,2,Florida Panthers,5,no,3,1,0
3,2022-01-01,Philadelphia Flyers,3,Los Angeles Kings,6,no,3,1,0
4,2022-01-01,St. Louis Blues,6,Minnesota Wild,4,no,-2,0,1

In [25]:
# make the date column into a date format.
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [26]:
df['goal_difference'] = df['home_goals'] - df['visitor_goals']

In [27]:
# create new variables to show home team win or loss result
df['home_win'] = np.where(df['goal_difference'] > 0, 1, 0)
df['home_loss'] = np.where(df['goal_difference'] < 0, 1, 0)

In [28]:
df.head()

,date,visitor,visitor_goals,home,home_goals,extra_time,goal_difference,home_win,home_loss
0,2022-01-01,Buffalo Sabres,3,Boston Bruins,4,OT,1,1,0
1,2022-01-01,Carolina Hurricanes,7,Columbus Blue Jackets,4,no,-3,0,1
2,2022-01-01,Montreal Canadiens,2,Florida Panthers,5,no,3,1,0
3,2022-01-01,Philadelphia Flyers,3,Los Angeles Kings,6,no,3,1,0
4,2022-01-01,St. Louis Blues,6,Minnesota Wild,4,no,-2,0,1

In [29]:
df_visitor = pd.get_dummies(df['visitor'], dtype=np.int64)
df_home = pd.get_dummies(df['home'], dtype=np.int64)

In [30]:
df_visitor.head()

,Anaheim Ducks,Arizona Coyotes,Boston Bruins,Buffalo Sabres,Calgary Flames,Carolina Hurricanes,Chicago Blackhawks,Colorado Avalanche,Columbus Blue Jackets,Dallas Stars,...,Philadelphia Flyers,Pittsburgh Penguins,San Jose Sharks,Seattle Kraken,St. Louis Blues,Tampa Bay Lightning,Toronto Maple Leafs,Vancouver Canucks,Washington Capitals,Winnipeg Jets
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [31]:
df_home.head(10)

,Anaheim Ducks,Arizona Coyotes,Boston Bruins,Buffalo Sabres,Calgary Flames,Carolina Hurricanes,Chicago Blackhawks,Colorado Avalanche,Columbus Blue Jackets,Dallas Stars,...,Ottawa Senators,Philadelphia Flyers,Pittsburgh Penguins,San Jose Sharks,Seattle Kraken,St. Louis Blues,Tampa Bay Lightning,Toronto Maple Leafs,Vegas Golden Knights,Washington Capitals
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
# subtract home from visitor
df_model = df_home.sub(df_visitor)
df_model['goal_difference'] = df['goal_difference']

In [39]:
df_model.head()
df_model = df_model.fillna(0)
df_model.head()

,Anaheim Ducks,Arizona Coyotes,Boston Bruins,Buffalo Sabres,Calgary Flames,Carolina Hurricanes,Chicago Blackhawks,Colorado Avalanche,Columbus Blue Jackets,Dallas Stars,...,San Jose Sharks,Seattle Kraken,St. Louis Blues,Tampa Bay Lightning,Toronto Maple Leafs,Vancouver Canucks,Vegas Golden Knights,Washington Capitals,Winnipeg Jets,goal_difference
0,0,0,1,-1,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0,0.0,1
1,0,0,0,0,0,-1,0,0,1,0,...,0,0,0,0,0,0.0,0.0,0,0.0,-3
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0,0.0,3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0,0.0,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,-1,0,0,0.0,0.0,0,0.0,-2

In [40]:
df_train = df_model

In [41]:
lr = Ridge(alpha=0.001)
X = df_train.drop(['goal_difference'], axis=1)
y = df_train['goal_difference']

lr.fit(X, y)

Ridge(alpha=0.001)

In [42]:
df_ratings = pd.DataFrame(data={'team': X.columns, 'rating': lr.coef_})
df_ratings.sort_values(by=['rating'], ascending= False)

                     team    rating
12       Florida Panthers  2.727448
7      Colorado Avalanche  1.973628
26    Tampa Bay Lightning  1.650120
5     Carolina Hurricanes  1.589969
25        St. Louis Blues  1.229307
19       New York Rangers  1.007701
27    Toronto Maple Leafs  0.993119
2           Boston Bruins  0.970948
22    Pittsburgh Penguins  0.956821
16    Nashville Predators  0.940399
14         Minnesota Wild  0.925243
13      Los Angeles Kings  0.509229
4          Calgary Flames  0.426679
9            Dallas Stars  0.314824
1         Arizona Coyotes  0.282404
28      Vancouver Canucks  0.000000
29   Vegas Golden Knights  0.000000
31          Winnipeg Jets  0.000000
15     Montreal Canadiens  0.000000
6      Chicago Blackhawks -0.587738
23        San Jose Sharks -0.797889
24         Seattle Kraken -0.799393
10      Detroit Red Wings -0.919789
3          Buffalo Sabres -0.972847
30    Washington Capitals -1.010895
20        Ottawa Senators -1.022570
8   Columbus Blue Jackets -1.053924
17      New Jersey Devils -1.081871
18     New York Islanders -1.102743
0           Anaheim Ducks -1.297938
11        Edmonton Oilers -2.231380
21    Philadelphia Flyers -2.238468

In [44]:
ls

Hockey_scores.csv       Rankings_copy.csv       iXG_Tableau_Visuals.md
Hockey_scores_copy.csv  Team_Canada/
Rankings.csv            Team_Rankings/

In [45]:
df_ratings.to_csv('Rankings_copy.csv', index=False)